/EX_Encapsulation/nbproject/private/
/EX_Encapsulation/build/
/ch11GUI/nbproject/private/
/ch11GUI/build/
/ch011/nbproject/private/
/ch011/build/
/Billing Management System/nbproject/private/
/Billing Management System/build/
/Bms/nbproject/private/
/Bms/build/
/Bms/dist/
/Database/nbproject/private/
/DB/nbproject/private/
/JavaApplication9/nbproject/private/
/JavaApplication9/build/
